.writeContainer {
  position: absolute;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-column-gap: 10px;
  .inputAreaWrapper {
    height: 100%;
  }
  .outputAreaWrapper {
    height: 100%;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d9d9d9;
    overflow: scroll;
  }
}
