.writeContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 10px;
  .inputAreaWrapper {
    height: 100%;
    .inputArea {
      resize: none;
      height: 100%;
    }
  }
  .outputAreaWrapper {
    height: 100%;
    padding: 4px 11px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d9d9d9;
    .outputArea {
      resize: none;
      height: 100%;
    }
  }
}
